<div id="templatemo_sidebar">
    
    	<div class="sidebar_title">
        	最新电影
        </div>
        <div class="sidebar_box">
            <ul class="templatemo_list">
                <li><a href="#">人在囧途</a></li>
                <li><a href="#">喜洋洋与灰太郎</a></li>
                <li><a href="#">敢死队</a></li>
                <li><a href="#">神鬼传奇</a></li>
                <li><a href="#">人在囧途</a></li>
            </ul>
        </div>
        
        <div class="cleaner_h20"></div>
        
        <div class="sidebar_title">
        	最新图片
        </div>
        <div class="sidebar_box">
            <ul class="templatemo_list">
                <li><a href="#">人在囧途</a></li>
                <li><a href="#">喜洋洋与灰太郎</a></li>
                <li><a href="#">敢死队</a></li>
                <li><a href="#">神鬼传奇</a></li>
                <li><a href="#">人在囧途</a></li>
            </ul>
        </div>
        	
        <div class="cleaner_h20"></div>
        
        <div class="sidebar_title">
        	最新视频
        </div>
        <div class="sidebar_box">
            <ul class="templatemo_list">
                <li><a href="#">人在囧途</a></li>
                <li><a href="#">喜洋洋与灰太郎</a></li>
                <li><a href="#">敢死队</a></li>
                <li><a href="#">神鬼传奇</a></li>
                <li><a href="#">人在囧途</a></li>
            </ul>
        </div>
    
    </div>